:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
    --font-size-base: 16px; /* Tamanho base para cálculos relativos */
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-base);
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1200px; /* Limitar largura máxima para desktops */
    margin: 0 auto; /* Centralizar o conteúdo */
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0; /* Usando rem para padding */
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem; /* 20px em rem */
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 3rem; /* 48px em rem */
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 2.25rem; /* 36px em rem */
    font-weight: 700;
    color: var(--color-primary);
    margin: 0.625rem 0; /* 10px em rem */
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 37.5rem; /* 600px em rem */
    margin-top: 1.25rem; /* 20px em rem */
}

.input-name {
    width: 100%;
    padding: 0.625rem; /* 10px em rem */
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 1rem; /* 16px em rem */
}

.button-container {
    width: 18.75rem; /* 300px em rem */
    justify-content: center;
}

/* Estilos de botão */
button {
    padding: 0.9375rem 1.875rem; /* 15px 30px em rem */
    font-family: "Inter", sans-serif;
    font-size: 1rem; /* 16px em rem */
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1.125rem; /* 18px em rem */
    margin: 1.25rem 0; /* 20px em rem */
}

.result-list {
    margin-top: 0.9375rem; /* 15px em rem */
    color: #05DF05;
    font-size: 1.375rem; /* 22px em rem */
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.625rem 2.5rem; /* 10px 40px em rem */
    color: var(--color-white);
    font-size: 1rem; /* 16px em rem */
    background-color: rgb(231, 76, 60);
    cursor: pointer;
    margin: 1.25rem auto; /* 20px em rem */
    font-weight: bold;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

.button-draw img {
    margin-right: 2.5rem; /* 40px em rem */
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.footer-paragrafo {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: "Merriweather", serif;
    font-size: 0.625rem; /* 10px em rem */
}



/* ajustes de queries */
/* Breakpoints comuns */
@media (max-width: 768px) {
    /* Estilos para tablets e dispositivos móveis */
    .main-title {
        font-size: 36px;
    }

    .section-title {
        font-size: 28px;
    }

    .input-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .input-name {
        border-radius: 25px;
        margin-bottom: 10px;
    }

    .button-add {
        border-radius: 25px;
    }

    .button-draw {
        width: 80%;
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    /* Estilos para dispositivos móveis pequenos */
    .main-title {
        font-size: 28px;
    }

    .section-title {
        font-size: 24px;
    }

    .input-section {
        padding: 10px;
    }

    .button-draw {
        width: 100%;
        font-size: 12px;
        padding: 8px 12px;
    }

    .footer-paragrafo {
        font-size: 8px;
    }
}